
dconf/

baloofileinformationrc

htop/

kde.org/

dolphinrc

GitKraken/

mozilla/

pulse/

session/

spotify/

vesktop/

kdeglobals

kiorc

kservicemenurc

ktrashrc

mimeapps.list

nvim

pavucontrol.ini

Bitwarden/

unity3d/

QtProject.conf
